* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
}
/* ----------------HEADER--------------------- */

/* -----------------HOME-SECTION------------ */

/* ----------------USER-SECTION------------------ */

/*----------------HOBBIES-SECTION-----------------*/

/* ----------------CONTACT-SECTION------------------ */

/* -----------------FOOTER--------------------- */