* {
    font-family: 'Kanit', sans-serif;
}

body,html {
    scroll-behavior: smooth;
    overflow: hidden;
}

/* ----------------HEADER--------------------- */

header {
    background-color: #0D4F6B; 
    border-radius: 25px;
    position: fixed; 
}

.box-buttons {
    background-color: #4D98B8;
    margin: 5px;
    padding: 8px 5px;
    border-radius: 20px;

}

.list-buttons {
    display: inline-flex;
    gap: 20px;
}

.button-size {
    width: 20px;
    height: 18px;
}

/* -----------------HOME-SECTION------------ */
#home {
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-size: 100vmax;
}
.box-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 80px;
}

.box-border-photo {
    width: 160px;
    height: 180px;
    margin-top: 150px;
    border: #0D4F6B solid 7px;
    border-radius: 100%;
}

.my-photo {
    width: 150px;
    height: 170px;
    border: #4D98B8 solid 6px;
    border-radius: 100%;
}

#home-text{
    color: white;
    font-size: 50px;
}

/* ----------------USER-SECTION------------------ */
#user {
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-size: 100vmax;
    
}

.father-box-user {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.my-photo-2 {
    width: 150px;
    height: 170px;
    border: #4D98B8 solid 6px;
    border-radius: 100%;
}

.box-user-infos {
    background-color: rgba(245, 245, 245, 0.692);
    width: 50vw;
    height: 45vh;
    border-radius: 15px;
}

.my-infos {
    padding: 15px ;
    font-size: 20px;
    text-align: justify;
    line-height: 22px;
}

.box-border-photo-2 {
    width: 160px;
    height: 180px;
    margin-top: 30px;
    border: #0D4F6B solid 7px;
    border-radius: 100%;
}
/*----------------HOBBIES-SECTION-----------------*/
#hobbies {
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-size: 100vmax;
}

.father-box-hobbies {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    gap: 50px;
    
}

.box-hobbies-photo {
    background-color: rgba(0, 0, 0, 0.548);
    width: 37vw;
    height: 70vh;
    border-radius: 15px;
    padding-left: 60px;
    padding-top: 5%;
}

.photo-1{
    width: 42%;
    height: 42%;
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
}

.photo-2{
    width: 42%;
    height: 42%;
    display: inline-block;  
    border-radius: 15px;
    margin: 5px;
}

.photo-3{
    width: 42%;
    height: 42%;
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
}

.photo-4{
    width: 42%;
    height: 42%;
    display: inline-block;
    border-radius: 15px;
    margin: 5px;
}

.box-hobbies-text {
    background-color: rgba(245, 245, 245, 0.692);
    width: 40vw;
    height: 80vh;
    border-radius: 15px;
}

.my-hobbies {
    padding: 15px ;
    font-size: 20px;
    text-align: justify;
    line-height: 26px;
}

/* ----------------CONTACT-SECTION------------------ */
#contact {
    height: 100vh;
    background-image: url(../imgs/background.jpg);
    background-size: 100vmax;
}

.father-box-contact {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 90px;
    gap: 40px;
}

#name {
    width: 27vw;
    height: 5vh;
    border-radius: 10px;
    margin-top: 10px;
}

#email {
    width: 27vw;
    height: 5vh;
    border-radius: 10px;
    margin-top: 10px;
}

#message {
    width: 57vw;
    height: 50vh;
    border-radius: 10px;
    margin-top: 10px;
}

.text-name {
    background-color:  #4D98B8;
    color: white;
    border:  #0D4F6B solid 2px;
    border-radius: 8px;
    font-size: 18px;
    padding: 3px 3px;
}

.text-email{
    background-color:  #4D98B8;
    color: white;
    border: #0D4F6B solid 2px;
    border-radius: 8px;
    font-size: 18px;
    padding: 3px 3px;
}

.text-message {
    background-color: #4D98B8;
    color: white;
    border: #0D4F6B solid 2px;
    border-radius: 8px;
    font-size: 18px;
    padding: 3px 3px;
}

.box-break {
    flex-basis: 100%;
    height: 0;
    display: flex;
    justify-content: center;
}

#button-submit {
    width: 10vw;
    height: 5vh;
    border-radius: 30px;
}

/* -----------------FOOTER--------------------- */

#footer {
    background-color: #0D4F6B; 
    position: fixed;
}

/* -----------TRANSITIONS----------- */

.list-buttons {
    transition: all 0.5s;
}

.list-buttons:hover {
    filter: drop-shadow(5px 3px 2px rgba(0,0,0,.5));
}

.photo-1:hover {
    transition: all 0.5s;
    transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgba(0,0,0,.5));
}

.photo-2:hover {
    transition: all 0.5s;
    transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgba(0,0,0,.5));    
}

.photo-3:hover {
    transition: all 0.5s;
    transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgba(0,0,0,.5));
}

.photo-4:hover {
    transition: all 0.5s;
    transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgba(0,0,0,.5));
}

/*-------------------MEDIA QUERIES------------------ */

@media screen and (min-width: 375px) and (max-width: 667px) {
    #home {
        background-size: auto;
    }

    .box-user-infos {
        width: auto;
    }
    .my-infos {
        font-size: 12px;
        width: auto;
    }

    #user {
        background-size: auto;
    }

    .father-box-hobbies {
        width: auto;
    }
    
    .box-hobbies-photo {
        width: 80px;
        height: 190px;
    }
    .box-hobbies-text {
        width: 280px;
    }
    .my-hobbies {
        font-size: 10px;
        line-height: 15px;
    }

    .photo-1{
        width: 30px;
        height: 30px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-2{
        width: 30px;
        height: 30px;
        display: inline; 
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-3{
        width: 30px;
        height: 30px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-4{
        width: 30px;
        height: 30px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }

    #hobbies {
        background-size: auto;
    }

    #contact {
        background-size: auto;
    }

    }
    

@media screen and (min-width: 375px) and (max-width: 667px) {
    #home {
        background-size: auto;
    }

    .box-user-infos {
        width: auto;
    }
    .my-infos {
        font-size: 12px;
        width: auto;
    }

    #user {
        background-size: auto;
    }

    .father-box-hobbies {
        width: auto;
    }
    
    .box-hobbies-photo {
        width: 80px;
        height: 190px;
    }
    .box-hobbies-text {
        width: 280px;
    }
    .my-hobbies {
        font-size: 10px;
        line-height: 15px;
    }

    .photo-1{
        width: 30px;
        height: 30px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-2{
        width: 30px;
        height: 30px;
        display: inline; 
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-3{
        width: 30px;
        height: 30px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-4{
        width: 30px;
        height: 30px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }

    #hobbies {
        background-size: auto;
    }

    #contact {
        background-size: auto;
    }

    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
    #home {
        background-size: auto;
    }

    .box-user-infos {
        width: auto;
    }
    .my-infos {
        font-size: 20px;
        width: auto;
    }

    #user {
        background-size: auto;
    }

    .father-box-hobbies {
        width: auto;
    }
    
    .box-hobbies-photo {
        width: 100px;
        height: 320px;
    }
    .box-hobbies-text {
        width: auto;
        height: auto;
    }
    .my-hobbies {
        font-size: 20px;
        line-height: 20px;
    }

    .photo-1{
        width: 60px;
        height: 60px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-2{
        width: 60px;
        height: 60px;
        display: inline; 
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-3{
        width: 60px;
        height: 60px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }
    
    .photo-4{
        width: 60px;
        height: 60px;
        display: inline;
        border-radius: 15px;
        margin: 5px;
    }

    #hobbies {
        background-size: auto;
    }

    #contact {
        background-size: auto;
    }

    }