* {
    font-family: 'Kanit', sans-serif;
}

body {
    background-image: url(/imgs/background.jpg);
    background-size: 100%;
}

header {
    background-color: #0D4F6B;
    width: auto;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 20px 40vmax;
}

.box-buttons {
    background-color: #4D98B8;
    padding-top: 6px;
    padding-bottom: 4px;
    border-radius: 50px;
    padding-left: 3px;
    padding-right: 2px;
}

.button-size {
    width: 22px;
    height: 20px;
}

.minor-box-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 80px;
}

.box-border-photo {
    height: 222px;
    width: 212px;
    margin-top: 90px;
    border: #0D4F6B solid 7px;
    border-radius: 100px;
}

.my-photo {
    width: 202px;
    height: 211px;
    border: #4D98B8 solid 6px;
    border-radius: 90px;
}

#home-text{
    color: white;
    font-size: 50px;
}
